<nav id="resizable-nav">
    

   
    {{ range .Site.RegularPages.ByDate.Reverse }}
    <!-- Check if the page is a post -->
    {{ if and (eq .Type "post") (not .Params.draft) }}
        <a href="{{ .Permalink }}">
            <section class="navcontainer">

                <p>{{ .Params.artist }}</p>
                {{ .Title }}
                <p>{{ .Params.runtime }}</p>
                
                <img src="{{ .Params.previewImage }}">
            </section>
        </a>
    {{ end }}
{{ end }}


<div id="scale-handle"></div>

    
    </nav>
