<!DOCTYPE html>
<html>
    {{ partial "common/head.html" . }}
    <body id="body">

        

        
        
        <main>

      
                {{ block "main" . }}{{ end }}
                {{ partial "common/sidebar.html" . }}
                {{ partial "common/header.html" . }}

        
            <section class="content" id="content">
                <a href="/" id="close-link">close</a>
                {{ block "content" . }}{{ end }}



            </section>
        </main>

        
   
    </body>
</html>
